#myBody {
  height: 100vh;
  overflow-y:hidden;
  margin:0;
  padding:0;
}

thead th {
  position: sticky;
  top:0;
  z-index:999;
  background-color: lightblue;
}

tbody {
  z-index:1;
}

table {
  font-family: arial, sans-serif;
  width:100%;
  border-spacing: 0;
}

td, th {
  text-align: center;
  padding: 8px;
  border:none !important;
}

tbody tr:nth-child(odd) {
  background-color: #dddddd;
}